*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: clamp(20px, 20vw, 200px) 20px 0;
}

.container {
    margin-inline: auto;
    max-width: 400px;
}

.input-group {
    border-radius: 15px;
    display: flex;
    font-weight: bold;
    margin: 15px;
    outline: 2px solid #f1f1f1;
    position: relative;
    width: 100%;
}

.input-group label {
    border: none ;
    border-radius: 15px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
    padding: 20px;
    width: 100%;
}

input[type=color] {
    right: 0;
    position: absolute;
    visibility: hidden;
}

.input-group input {
    cursor: pointer;
    outline: none;
}

.range-group {
    margin: 30px 0;
}

.range-group label {
    border-radius: 5px;
    background: #f1f1f1;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-around;
    padding: 10px;
    max-width: 180px;
}

input[type="range"] {
    margin-top: 15px;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons-container button {
    border: 1px solid rgba(51, 51, 51, 0.53);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0 , 0, 0.15);
    cursor: pointer;
    font-size: 20px;
    min-width: 150px;
    outline: none;
    padding: 15px 0;
}

.random-btn {
    margin-left: 30px;
}

.copy-btn {
    position: relative;
}

.copy-btn::after {
    background: #f1f1f1;
    border-radius: 5px;
    bottom: -70%;
    content: "Copié !";
    display: block;
    font-size: 18px;
    left: 50%;
    opacity: 0;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, 30px);
    white-space: nowrap;
    z-index: 1;
}

.copy-btn.active::after {
    animation: fade-out 1s ease-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
}